@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:wght@100;200;300;400;600;700&family=Roboto+Condensed:ital,wght@1,700&display=swap');

html{
    /* hieght and width */
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;

    color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

