@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital@1&family=Poppins:wght@100;200;300;400;600;700&family=Roboto+Condensed:ital,wght@1,700&display=swap");

html {
  /* hieght and width */
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Bebas Neue, sans-serif;
  background: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  letter-spacing: 4px;
  font-size: 40px;
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* image container */
.image-container {
  margin: 10px 1%;
  display: block;
}

a {
  display: inline-block;
  /* float: left; */
  width: 18%;
  padding: 1%;
}

.image-container img {
  width: 100%;
}

/* media query in smart phone */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .image-container {
    margin: 10px;
  }
}
